$blue0: #F6FEFE;
$blue1: #E8FDFC;
$blue15: #D1FAF9;
$blue2: #74F1EE;
$blue3: #13C2BD;
$blue4: #10A39E;
$blue5: #074644;

$red1: #FCE9EA;
$red15: #F8D3D5;
$red2: #EB7A80;
$red3: #CF1F29;
$red4: #9B171F;
$red5: #430A0D;

$black0: #FFF;
$black05: #F1F2F3;
$black1: #E4E5E7;
$black2: #ADB0B8;
$black3: #767B89;
$black4: #474A52;
$black5: #191A1D;

$green1: #E8FDF3;
$green15: #D1FAE6;
$green2: #74F1B5;
$green3: #13C26E;
$green4: #10A35C;
$green5: #074627;

$orange0: #FFE5CC;
$orange1: #FC9;
$orange2: #F93;
$orange3: #F75200;
$orange4: #F75200;
$orange5: #F77B00;