@import "../../../styles/variables";
@import "../../../styles/fonts";

footer {
  border-top: 1px solid $blue3;
  background-color: #F6FEFE;
  margin-top: 60px;
  padding: 0 25px;

  .footer-inside {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 0;

    .footer-moto {
      color: #4D4D4D;
      font-family: 'Satoshi-Regular', serif;
      font-size: 16px;
      margin-top: 14px;
    }

    .footer-contacts {
      margin-top: 48px;

      .email {
        font-size: 16px;
      }

      .contacts-list {
        margin-top: 16px;

        .item {
          margin-right: 15px;

          img {
            width: 40px;
            height: 40px;
            display: inline-block;
          }
        }
      }
    }

    .footer-menu-list-wrapper {
      margin-bottom: 40px;

      h3 {
        margin-bottom: 18px;
        font-size: 16px;
        color: $black5;
        font-family: 'Satoshi-Bold', serif;
      }

      .footer-menu-list {
        .footer-menu-item {
          margin-bottom: 16px;

          a {
            color: $black5;
            font-size: 16px;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: $black3;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    border-top: 1px solid $blue15;
    padding: 32px;
    text-align: center;

    p {
      font-size: 18px;
      font-family: 'Satoshi-Regular', serif;
    }
  }
}

@media only screen and (max-width: 1279px) {
  footer {
    .footer-inside {
      .footer-contacts {
        .contacts-list {
          .item {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .footer-contacts-sm {
      display: none;
    }
  }
}

@media only screen and (max-width: 760px) {
  footer {
    .footer-inside {
      padding: 15px;

      .footer-menu-list-wrapper {
        margin: 40px 0 0 0;
      }
    }

    .footer-contacts-md {
      display: none;
    }

    .footer-contacts-sm {
      display: flex;
    }

    .footer-copyright {
      padding: 32px 15px;
      text-align: left;
      margin-bottom: 80px;
    }
  }
}