@import "../../../styles/variables";

.sidebar {
  box-shadow: 0px 8px 24px -4px rgba(173, 176, 184, 0.08), 0px 6px 12px -6px rgba(173, 176, 184, 0.12);

  .logo {
    display: block;
    text-align: center;
    padding: 40px 0;

    img {
      max-width: 180px;
    }
  }

  .profile-wrapper {
    padding: 0 24px;
    margin-bottom: 40px;

    .wallet-area {
      text-align: left;
      margin-top: 25px;

      .wallet-balance-area {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          cursor: pointer;
        }
      }

      button {
        background-color: $blue3;
        text-transform: none;
        width: 100%;
      }
    }

    .info-area {
      padding-left: 16px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-name {
        margin-bottom: 8px;
      }

      p {
        display: flex;
        align-items: center;

        span {
          display: block;
        }
      }

      .user-status {
        display: block;
        width: 6px;
        height: 6px;
        background-color: $green3;
        margin-right: 8px;
        border-radius: 50%;
        font-size: 14px;
      }

      .user-aids {
        display: block;
        color: $blue0;
        background-color: $blue3;
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .arrow-area {
      cursor: pointer;
      background-image: url("../../../../public/images/arrow-right.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .menu-item {
    padding: 16px;
    margin: 8px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;

    &:hover {
      background-color: $blue15;

      .menu-item-name {
        color: $blue3;
      }
    }

    .menu-item-icon {
      margin-right: 16px;
      display: flex;
      align-items: center;
    }

    .menu-item-name {
      font-size: 15px;
      transition: all 0.2s ease-in-out;

    }

    .menu-item-notification {
      margin-left: auto;
      background-color: $red3;
      min-width: 20px;
      height: 10px;
      padding: 10px 5px;
      border-radius: 50%;
      color: $black0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
  }

  .inactive-item {
    cursor: not-allowed;
    opacity: 0.5;

    .menu-item-name {
      color: $black2;
    }
  }

  @media only screen and (max-width: 1279px) {
    .logo {
      display: none;
    }
    .profile-wrapper {
      margin-top: 24px;
    }
    .menu-item {
      border-bottom: 1px solid $black1;
    }
  }
}