@import '../../../styles/variables';
@import '../../../styles/fonts';

.profile-area {
  margin-top: 40px;
  border-radius: 8px;
  border: 1px solid $black1;
  background-color: $black0;
  box-shadow: 0px 8px 24px -4px rgba(173, 176, 184, 0.08), 0px 6px 12px -6px rgba(173, 176, 184, 0.12);
  padding: 32px;

  .profile-picture {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 32px;
    }

    .upload-form {
      h3 {
        font-family: Satoshi-Bold, serif;
        font-size: 18px;
        margin-bottom: 32px;
      }

    }
  }

  .profile-fields {
    margin-top: 40px;

    .profile-field {
      margin-bottom: 32px;
    }
  }
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}
.cropper-view-box {
  border-radius: 50%;
}

.ReactCrop__crop-selection {
  transition: none;
}

@media only screen and (max-width: 768px) {
  .profile-area {
    box-shadow: none;
    border: none;
    padding: 0;
  }
}